{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Update Post{% endblock title %}
{% block content %}
<h1>Are You Sure To Update ?</h1>

<div class="card mb-3">
    <form method="POST">
        {% csrf_token %}
        {% for form in task_form%}
            <div class="card-body">
                <div class=" row card-title">
                
                    <h5 class="col text-primary">{{form.label}}</h5>
                    <button type="submit" class="col-1 m-1 btn btn-warning">update</button>
                    <a class="col-1 m-1 btn btn-primary" href="{% url 'todo:all_tasks' %}">cancel</a>
                </div> 
                {{form|add_class:"form-control"}}
            </div>
        {% endfor %}
    </form>
</div>

{% endblock content %}
