{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">
        <img src="{% if product.products_images.all.0.image %}{{ product.products_images.all.0.image.url }}{% else %}
    {% static "img/no_image.png" %}{% endif %}">
        <h1>{{ product.name }}</h1>
        <h2>
            <a href="{{ product.category.get_absolute_url }}">
                {{ product.category }}
            </a>
        </h2>
        <p class="price">${{ product.price }}</p>
        {{ product.description|linebreaks }}
    </div>

    <div class="product-detail">
        {#        <h1>Products Images</h1>#}
        {% for image in product.products_images.all %}
            {% if image.image  != product.products_images.all.0.image %}
                <div class="item">
                    <img src="
                            {% if image.image %}{{ image.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </div>
            {% endif %}

        {% endfor %}
    </div>
{% endblock %}
