
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    
}

body{
    --primary-color: #50b7f5;
    --main-color: #e6e6e6;

    /* height: 100vh; */
}

#carouselExampleControls{
    display: inline-block;
}

.carousel-inner{
    width: 70%;
    height: 700px;
}

.carousel-item img{
   width: 70%;
   height: 700px;
   margin-left: 30%;

}

.account{
    width: 25%;
    height: 700px;
    background-color: lightgrey;

   float: right;
}

.account img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-left: 20px;
    /* padding: 10px; */

    margin-top: 10px;
}


.account .caption{
    width: 80%;
    height: auto;
    text-align: justify;

    margin-left: 30px;
}

 .account button{
     width: 40%;
     margin-left: 20px;
     margin-top: 20px;
 }

 .account button:hover{
     background-color: silver;
    

 }

