<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>

	<!-- fontawesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


	<!-- bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="#">
</head>
<body>
	<!-- login -->

	<div class="container d-flex flex-column flex-lg-row justify-content-evenly mt-5 pt-5 ">

		<!-- heading -->
		<div class="text-center text-lg-start mt-lg-5 pt-lg-5">
			<h1 class="text-primary fw-bold fs-0">Social Site</h1>
			<p class="mx-lg-0 fs-4">Login With Social Site With Us...</p>
		</div>

		<!-- form -->

		<div style="max-width: 450px; width: 100%;">
			<div class="bg-white shadow rounded-bottom p-3 input-group-lg">
				<input type="email" class="form-control my-3" placeholder="Email address or Phone No.." required/>
				<input type="password" class="form-control my-3" placeholder="Type your password" required="password is needed"/>
					<a href="index.html">
						<button class="btn btn-primary w-100 my-3">Log In</button>
					</a>
					<a href="#">
						<button class="btn btn-success w-auto my-0 p-3 m-3">Log In With Google</button>
						<button class="btn btn-dark w-auto my-4 p-3 m-3">Log In With Git Hub</button>
						<!-- <button class="btn btn-primary my-2 p-3 m-3" style="width: 170px;">Log In With LinkIn</button> -->
						<!-- <button class="btn btn-warning w-auto my-2 p-3 m-3">Log In With Wechat</button> -->
					</a>
					<a href="#" class="text-decoration-none text-center">
						<p>Forgot password?</p>
					</a>

					<!-- create form -->
					<div class="text-center my-4">
						<button class="btn btn btn-primary btn-lg" 
						data-bs-toggle="modal" 
						data-bs-target="#createModal">Create New Account</button>

					</div>
  
  
  <div class="modal fade" 
  id="createModal"
   tabindex="-1"
    aria-labelledby="createModalLabel" 
	aria-hidden="true">
	<div class="modal-dialog">
	  <div class="modal-content">

		<!-- head -->
		<div class="modal-header">
			<div>
				<h2 class="modal-title"  id="createModalLabel">
						Sign Up</h2>
						<p class="text-muted fs-7">It's quick and easy</p>
			</div>

		  <button type="button"
		   class="btn-close" 
		   data-bs-dismiss="modal" 
		   aria-label="Close"></button>
		</div>

		<!-- body -->
		<div class="modal-body">
			<form action="">
				<div class="row">
					<div class="col">
						<input type="text" class="form-control" placeholder="First Name" required/>
					</div>
		
					<div class="col">
						<input type="text" class="form-control" placeholder="Last Name" required/>
					</div>
				</div>
				

				<input type="email" class="form-control my-3" placeholder="Email Or Phone"/>
				<input type="password" class="form-control my-3" placeholder="Password"/>
				<input type="password" class="form-control my-3" placeholder="Comfirm Password"/>

			
		

		<div class="text-center mt-3">
			<!-- <button type="button" 
			class="btn btn-success btn-lg" 
			data-bs-dismiss="modal">Sing Up</button> -->

			<a href="#">
				<button class="btn btn-success w-100 my-3" data-bs-dismiss="modal">sign Up</button>
			</a>

			<button class="btn btn-primary w-auto my-0 p-3 m-3">Log In With Google</button>
			<button class="btn btn-dark w-auto my-4 p-3 m-3">Log In With Git Hub</button>

		</div>
		</form>
		</div>

	  </div>
	</div>
  </div>

  <!-- end -->

			</div>

		</div>



		

		<!-- footer -->


	</div>





<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- from bs -->
<script type="text/javascript" src="./main.js">
	

	
</script>
</body>
</html>